PETPOOJA_API_BASE_URL=http://api.petpooja.com/V1/orders/get_sales_data/
PETPOOJA_APP_KEY=your_app_key_here
PETPOOJA_APP_SECRET=your_app_secret_here
PETPOOJA_ACCESS_TOKEN=your_access_token_here
PETPOOJA_REST_ID=your_rest_id_here
FROM_DATE=2025-05-03 00:00:00
TO_DATE=2025-05-30 23:59:19
DB_FILE=sales_data.db
